h1 {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

.tooLow {
  background-color: rgba(246, 135, 131, 0.77);
}

a {
  color: rgb(51, 135, 204);
}

.btn
{
  margin-right: 2px;
  padding: 3px 6px;
}

