table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

.tooLow {
  background-color: rgba(246, 135, 131, 0.77);
}

a {
  color: rgb(51, 135, 204);
}
